@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        Task for work
    </h1>
    <p class="lead">
        I need this job
    </p>
    <img src="~/Resources/work.gif" alt="Image">
</div>